[Desktop Entry]
Name=Exim Monitor
Comment=Exim Monitor
Comment[pl]=Monitor Exima
Exec=eximon
Icon=eximon
Terminal=0
Type=Application
Categories=System
# vi: encoding=utf-8
