[Desktop Entry]
Encoding=UTF-8
Name=Exim Monitor
Comment=Exim Monitor
Comment[pl]=Monitor Exima
Exec=eximon
Icon=eximon
Terminal=false
Type=Application
Categories=System
# vi: encoding=utf-8
